<header class="navbar">
  <div class="container nav-container">
    <a href="{% url 'home' %}" class="logo-link"><h1>Trail Quest</h1></a>
    <nav class="nav-links" id="nav-links">
      {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" class="nav-form">
          {% csrf_token %}
          <button type="submit" class="nav-link">Logout</button>
        </form>
        <a href="{% url 'profile' %}">Profile</a>
        {% if not user.is_staff and not user.is_superuser %}
          <a href="{% url 'submit-trail' %}">Submit Trail</a>
        {% endif %}
        
        {% if user.is_staff or user.is_superuser %}
          <a href="{% url 'admin-dashboard' %}">Admin Dashboard</a>
        {% endif %}
        
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>
    <button class="menu-btn" id="menu-btn" aria-label="Toggle navigation">
      ☰
    </button>
  </div>

</header>