{% extends 'trailQuest/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<main class="container form">
    <div class="form-card">
      <h2>Update Profile</h2>
      <form method="post" action="https://twaaut.cdms.westernsydney.edu.au/twainfo/form.asp" enctype="multipart/form-data" novalidate>
  
        <div class="form-group">
          <label for="screenName">Display Name</label>
          <input type="text" id="screenName" name="screenName" placeholder="Display Name">
        </div>
  
        <div class="form-group">
          <label for="profilePicture">Profile Picture</label>
          <input type="file" id="profilePicture" name="profilePicture">
        </div>
  
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" id="location" name="location" placeholder="Location">
        </div>
  
        <div class="form-group">
          <label for="bio">Bio</label>
          <textarea id="bio" name="bio" placeholder="Write your bio..." rows="3"></textarea>
        </div>
  
        <div class="form-group">
          <label for="activityPreference">Activity Preference</label>
          <select id="activityPreference" name="activityPreference">
            <option value="">-- Select --</option>
            <option value="Hiking">Hiking</option>
            <option value="Biking">Biking</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="difficultyLevel">Preferred Difficulty Level</label>
          <select id="difficultyLevel" name="difficultyLevel">
            <option value="">-- Select --</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="trailType">Favourite Trail Type</label>
          <select id="trailType" name="trailType">
            <option value="">-- Select --</option>
            <option value="Loop">Loop</option>
            <option value="Out & Back">Out & Back</option>
            <option value="Point-to-Point">Point-to-Point</option>
          </select>
        </div>
  
        <button type="submit" class="btn">Update Profile</button>
  
      </form>
    </div>
  </main>
  {% endblock %}