{% extends 'trailQuest/base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<main class="container form">
    <div class="form-card">
        <h2>Register</h2>
        <form method="post" action="{% url 'register' %}" novalidate onsubmit="return validateRegister(this)">
            {% csrf_token %}
        <div class="form-group">
            <label for="email">Email <span class="required">*</span></label>
            <input type="email" id="email" name="email" onblur="validateEmail(this)" required>
            <small class="error-msg" id="emailError"></small>
            {% if register_error %}<small class="error-msg">{{ register_error }}</small>{% endif %}
        </div>
        {% comment %} <div class="form-group">
            <label for="username">Username <span class="required">*</span></label>
            <input type="username" id="username" name="username" onblur="validateUsername(this)" required>
            <small class="error-msg" id="usernameError"></small>{% if username_error %}{{ username_error }}{% endif %}
        </div> {% endcomment %}
        <div class="form-group">
            <label for="password">Password <span class="required">*</span></label>
            <input type="password" id="password" name="password" onblur="validatePassword(this)" required>
            <small class="error-msg" id="passwordError"></small>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password <span class="required">*</span></label>
            <input type="password" id="confirmPassword" name="confirmPassword" onblur="confirmPasswordReg(this)" required>
            <small class="error-msg" id="confirmPasswordError"></small>
        </div>
        <button type="submit" class="btn">Register</button>
        <p class="form-link">Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
</main>
{% endblock %}